body{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

img.image{
    margin-left: 70px;
}

#title01{
    margin-top: 150px;
}

#select_div{
    margin-left: 70px;
    width:250px;
    height:50px;
    font-size:15px;
    color:white;
}

#none_selected{
    inherit: true
}

#select_kind{
    margin-top: -15px;
    font-family: "Black Han Sans";
    color: teal;
    font-size: 84px;
    border-radius: 15px;
    background-color: transparent;
    border-color: transparent;


}
/*이걸*/
.select_kind_list{
    font-family: "Black Han Sans";
    color:teal;
    font-size: 38px;
    background-color: transparent;
    border-color: transparent;

}
/*한식*/
.select_kind_list_1{
    font-family: "Black Han Sans";
    color: teal;
    font-size: 38px;

}

/*중식*/
.select_kind_list_2{
    font-family: "Black Han Sans";
    color: #732700;
    font-size: 38px;
}

/*양식*/
.select_kind_list_3{
    font-family: "Black Han Sans";
    color: #dada00;
    font-size: 38px;
}

/*일식*/
.select_kind_list_4{
    font-family: "Black Han Sans";
    color: #0327ff;
    font-size: 38px;
}

/*분식*/
.select_kind_list_5{
    font-family: "Black Han Sans";
    color: #e20010;
    font-size: 38px;
}