body{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

img.image{
    margin-left: 70px;
}

#title01{
    margin-top: 150px;
}

#select_div{
    margin-left: 70px;
    width:250px;
    height:50px;
    font-size:15px;
    color:white;
}

#none_selected{
    inherit: true
}

#select_kind{
    margin-top: -15px;
    font-family: "Black Han Sans";
    color: teal;
    font-size: 90px;
    border-radius: 15px;
    background-color: transparent;
    border-color: transparent;


}

.select_kind_list{
    font-family: "Black Han Sans";
    font-size: 34px;
}
