<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosmo.orange.wtf.model.mapper.MainMapper">

    <!--회원가입-->
    <insert id="signUp" parameterType="AdminVO">
        INSERT INTO manager(mgr_id, mgr_pass)
        VALUES (#{mgrId}, #{mgrPass})
    </insert>
    
    
    <!--id(email) 중복확인-->
    <select id="idCheck" resultMap="getManager">
        SELECT mgr_id
        FROM manager
        WHERE mgr_id = (#{mgr_id})
    </select>





    <!--====================================================-->
    <!--resultMap 설정-->
    <resultMap id="getManager" type="AdminVO">
        <result property="mgr_name" column="mgr_name"/>
        <result property="mgr_id" column="mgr_id"/>
        <result property="mgr_pass" column="mgr_pass"/>
    </resultMap>


</mapper>