<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosmo.orange.wtf.model.mapper.AdminMapper">

    <!--회원가입-->
    <insert id="createAccount" parameterType="AdminVO">
        INSERT INTO manager(mgr_name, mgr_id, mgr_pass)
        VALUES (#{mgr_name}, #{mgr_id}, #{mgr_pass})
    </insert>


    <!--id(email) 중복확인-->
    <select id="idCheck" resultMap="getManager">
        SELECT mgr_id
        FROM manager
        WHERE mgr_id = #{id}
    </select>


    <!--id / name 확인 (비번찾기)-->
    <!--&gt;> 쌤과 얘기하다보니 AJAX를 탈 이유가 없음-->
    <!--<select id="pwCHeck" resultMap="getManager">-->
        <!--SELECT mgr_id, mgr_name-->
        <!--FROM manager-->
        <!--WHERE mgr_id = #{id} and mgr_name = #{name}-->
    <!--</select>-->


    <!--로그인-->
    <select id="adminLogin" resultMap="getManager">
        SELECT *
        FROM manager
        WHERE mgr_id = #{id}
    </select>


    <!--id / name 확인-->
    <select id="checkAccount" resultMap="getManager">
        SELECT mgr_id, mgr_name
        FROM manager
        WHERE mgr_id = #{mgr_id} and mgr_name = #{mgr_name}
    </select>


    <!--pw 변경-->
    <update id="updatePw" parameterType="AdminVO">
        UPDATE manager
        SET mgr_pass = #{mgr_pass}
        WHERE mgr_id = #{mgr_id}
    </update>


    <!--유저 목록 불러오기-->
    <select id="memberList" resultMap="getMember">
        SELECT *
        FROM member
    </select>


    <!--가게 리스트-->
    <select id="storeList" resultMap="getRestaurant">
        SELECT *
        FROM restaurant
    </select>


    <!--관리자 (manager) 목록 (list)-->
    <select id="managerList" resultMap="getManager">
        SELECT *
        FROM manager
    </select>


    <!--====================================================-->
    <!--resultMap 설정-->
    <resultMap id="getManager" type="AdminVO">
        <result property="mgr_name" column="mgr_name"/>
        <result property="mgr_id" column="mgr_id"/>
        <result property="mgr_pass" column="mgr_pass"/>
    </resultMap>


    <resultMap id="getMember" type="MemberVO">
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="birthday" column="birth"/>
        <result property="gender" column="gender"/>
        <result property="favor" column="favor"/>
        <result property="point" column="point"/>
        <result property="registDate" column="regist_date"/>
        <result property="exitCheck" column="exit_check"/>
        <result property="exitDate" column="exit_date"/>
    </resultMap>


    <resultMap id="getRestaurant" type="RestaurantVO">
        <result property="resId" column="res_id"/>
        <result property="resName" column="res_name"/>
        <result property="resTell" column="res_tell"/>
        <result property="resAddr" column="res_addr"/>
        <result property="resLatitude" column="res_latitude"/>
        <result property="resLongitude" column="res_longitude"/>
        <result property="resRuntime" column="res_runtime"/>
        <result property="resKeyword" column="res_keyword"/>
        <result property="resRating" column="res_rating"/>
    </resultMap>


</mapper>