<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosmo.orange.wtf.model.mapper.RecommendMapper">

    <select id="res_all" resultType="RecommendVO">

        SELECT res_id,res_name,res_addr
        FROM restaurant
        WHERE LENGTH(res_tell)> 1

    </select>


    <select id="res_photo" parameterType="RecommendVO" resultType="PhotoVO">

        SELECT *
        FROM restaurant_pic rp
        WHERE res_id =#{res_id};

    </select>

</mapper>