<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosmo.orange.wtf.model.mapper.RestaurantMapper">

    <select id="restaurantInfo" resultMap="getRestaurant">
        SELECT *
        FROM restaurant
        WHERE res_id = #{resId}
    </select>

    <select id="restaurantMenu" resultMap="getMenu">
        SELECT *
        FROM menu
        WHERE res_id = #{resId}
        LIMIT 0,5
    </select>

    <resultMap id="getRestaurant" type="RestaurantVO">
        <result property="resId" column="res_id"/>
        <result property="resName" column="res_name"/>
        <result property="resTell" column="res_tell"/>
        <result property="resAddr" column="res_addr"/>
        <result property="resLatitude" column="res_latitude"/>
        <result property="resLongitude" column="res_longitude"/>
        <result property="resRuntime" column="res_runtime"/>
        <result property="resKeyword" column="res_keyword"/>
        <result property="resRating" column="res_rating"/>
        <result property="likeCount" column="like_count"/>
    </resultMap>

    <resultMap id="getMenu" type="MenuVO">
        <result property="resId" column="res_id"/>
        <result property="menu" column="menu"/>
        <result property="price" column="price"/>
        <result property="picLoc" column="pic_loc"/>
    </resultMap>
</mapper>