<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosmo.orange.wtf.model.mapper.ReviewMapper">

    <insert id="ReviewInsert" >
        INSERT INTO review(review_id, member_id, res_id, rating_avg, rating_taste,
                           rating_service, rating_clean, rating_location, review_content,
                           review_tag, pic_name, reccommend_count, charge_count)
                           VALUES (#{review_id},#{mem_id},#{res_id},#{avg},#{taste},
                                   #{service},#{clean},#{location},#{content},#{tag},#{pic_loc},0,0);                               )
    </insert>

    <select id="ReviewInfo">
        SELECT * FROM review WHERE rev_id =  #{rev_id};
    </select>

    <select id="ReviewList">
        SELECT * FROM review WHERE membe_idr =  #{member_id};
    </select>

    <resultMap id="getReview" type="ReviewVO">
        <result property="review_id" column="review_id"/>
        <result property="mem_id" column="member_id"/>
        <result property="res_id" column="res_id"/>
        <result property="avg" column="rating_avg"/>
        <result property="taste" column="rating_taste"/>
        <result property="service" column="rating_service"/>
        <result property="clean" column="rating_clean"/>
        <result property="location" column="rating_location"/>
        <result property="content" column="review_content"/>
        <result property="tag" column="review_tag"/>
        <result property="pic_loc" column="pic_name"/>
        <result property="rec_count" column="reccommend_count"/>
        <result property="cahrge_count" column="charge_count"/>

    </resultMap>

</mapper>