<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kosmo.orange.wtf.model.mapper.ReviewMapper">

    <select id="Photo" resultMap="getPhoto">
        SELECT *
        FROM restaurant_pic rp
        WHERE res_id = #{resId} LIMIT 1;
    </select>

    <insert id="ReviewSave" >
        INSERT INTO review(review_id, member_id, res_id, rating_avg, rating_taste,
                           rating_service, rating_clean, rating_location, review_content,
                           review_tag, pic_name, recommend_count, charge_count, res_tell)
                           VALUES (#{review_id},#{mem_id},#{res_id},#{avg},#{taste},
                                   #{service},#{clean},#{location},#{content},#{tag},#{pic_loc},0,0,#{res_tell});
    </insert>

    <select id="ReviewSel" resultMap="getReview">
        SELECT * FROM review WHERE rev_id = #{rev_id};
    </select>

    <select id="ReviewInfo" resultMap="getReview">
        SELECT * FROM review WHERE rev_id =  #{rev_id};
    </select>

    <select id="ReviewList" resultMap="getReview">
        SELECT * FROM  review WHERE member_id = #{member_id};
    </select>



    <select id="memNickname">
        SELECT nickname FROM member WHERE member_id = #{member_id};
    </select>

    <select id="mainReview" parameterType="String" resultMap="getReview">
        SELECT res.res_name res_name, rev.rating_avg rating_avg,rev.review_content review_content,
        m.nickname nickname,res.res_id res_id
        FROM review rev INNER JOIN member m
        ON rev.member_id = m.member_id
        INNER JOIN restaurant res
        ON rev.res_id = res.res_id
        WHERE res.res_keyword LIKE CONCAT('%',#{foodKind},'%')
        ORDER BY rev.review_date
        LIMIT 5;
    </select>

    <select id="restaurantInfoReview" resultMap="getReview">
        SELECT res.res_name res_name, rev.rating_avg rating_avg,rev.review_content review_content,
        m.nickname nickname,res.res_id res_id
        FROM review rev INNER JOIN member m
        ON rev.member_id = m.member_id
        INNER JOIN restaurant res
        ON rev.res_id = res.res_id
        WHERE res.res_id = #{resId}
        ORDER BY rev.review_date
        LIMIT 5;
    </select>

    <resultMap id="getReview" type="ReviewVO">
        <result property="review_id" column="review_id"/>
        <result property="mem_id" column="member_id"/>
        <result property="res_id" column="res_id"/>
        <result property="avg" column="rating_avg"/>
        <result property="taste" column="rating_taste"/>
        <result property="service" column="rating_service"/>
        <result property="clean" column="rating_clean"/>
        <result property="location" column="rating_location"/>
        <result property="content" column="review_content"/>
        <result property="tag" column="review_tag"/>
        <result property="rec_count" column="recommend_count"/>
        <result property="charge_count" column="charge_count"/>
        <result property="res_tell" column="res_tell"/>
        <result property="review_date" column="review_date"/>
        <collection property="memberVO" resultMap="getMember"/>
        <collection property="restaurantVO" resultMap="getRestaurant"/>
    </resultMap>

    <resultMap id="getPhoto" type="PhotoVO">
        <result property="res_id" column="res_id"/>
        <result property="rtr_pic_loc" column="rtr_pic_loc"/>
    </resultMap>

    <resultMap id="getMember" type="MemberVO">
        <result property="memberId" column="member_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="birthday" column="birth"/>
        <result property="gender" column="gender"/>
        <result property="favor" column="favor"/>
        <result property="point" column="point"/>
        <result property="registDate" column="regist_date"/>
        <result property="exitCheck" column="exit_check"/>
        <result property="exitDate" column="exit_date"/>
    </resultMap>

    <resultMap id="getRestaurant" type="RestaurantVO">
        <result property="resId" column="res_id"/>
        <result property="resName" column="res_name"/>
        <result property="resTell" column="res_tell"/>
        <result property="resAddr" column="res_addr"/>
        <result property="resLatitude" column="res_latitude"/>
        <result property="resLongitude" column="res_longitude"/>
        <result property="resRuntime" column="res_runtime"/>
        <result property="resKeyword" column="res_keyword"/>
        <result property="resRating" column="res_rating"/>
        <result property="likeCount" column="like_count"/>
    </resultMap>

</mapper>