.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;}
.info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #5085BB;}

#map{
    border-radius: 5%;
}

.radius_button{
    margin-top: 8px;
    border: 0px;
    border-radius: 5%;
    font-size: 20px;
}

/*추가한 css*/
.detail_des{
    font-family: 'Do Hyeon', sans-serif;
    font-size:26px;
}

.detail_des2{
    font-family: 'Do Hyeon', sans-serif;
    color: #a8a8a2;
}

.res_img {
    border-radius:10%;
    object-fit: cover;
    max-width: 100%;

}

.res_rating{
    color: #ffa700;
    font-size:30px;
    float: right;

}


h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
    font-family: 'Black Han Sans', sans-serif;
}


#marker_restaurantImg{
    background-repeat: no-repeat;
    background-size: cover;
    wdith :73px;
    height: 71px;
}
/*추가한 css 끝*/
